<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>JOB WALLAH</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <style>
      #banner{
        width: 100%;
        height: 400px;
        object-fit: cover;
      }
    </style>
  </head>
  <body>
   <div class="container">
     <h1 class="text-center mt-2 mb-4">Job Wallah</h1>
     <h3>Welcome to the {{company_name}} opportunities</h3>
     <img class="img-fluid" id="banner" src="static/PIC1.jpg">
     <h2 class="text-center mt-2 mb-4"">About Us</h2>
     <p class="lead">We are a company that provides job opportunities for you. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sit amet risus ut nisl cursus lobortis viverra ut felis. Mauris congue nisl ipsum, in semper quam tristique id. Vivamus vestibulum euismod sapien, id porta ex dapibus eu. Duis in velit eros. Vehicula augue erat nec enim. Fusce nec eleifend eros. Etiam urna nunc, porttitor et accumsan quis, ornare sit amet tortor. Sed ut maximus nibh, in imperdiet sem.</p> 
     <h2 class="text-center mt-2 mb-4"">Open Positions</h2>
     <div>
       {% for jobs in jobs %}
       <div>{%include 'jobs.html'%}</div>
       {% endfor %}
     </div>
     <div class="text-center">
       <button type="button" class="btn btn-outline-info">Contact Us</button>
       <p class="mt-4">Copyright 2025, JobWallah</p>
     </div>
   </div>
  </body>
 
</html>